#This is just an example env file, RENAME this to .env and it is all set.
#.env is gitignored and should NOT be committed
#Flask session cookies need to be signed with secret key
SECRET_KEY=plateful-cits3403-2026